<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Tournament_ID">Turnier ID</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="Tournament_ID" value="<%= model.Tournament_ID %>" />
  </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Tournament_Name">Turniername</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="Tournament_Name" value="<%= model.Tournament_Name %>" />
    </div>
</div>
  
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Type">Turniertyp</label>
    <div class="col-sm-7">
      <input class="form-control" name="Type" value="<%= model.Type %>" />
    </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Status">Status</label>
  <div class="col-sm-7">
    <input class="form-control" name="Status" value="<%= model.Status %>" />
  </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Comments">Notizen</label>
    <div class="col-sm-10">
      <textarea class="form-control" cols="20" name="Comments" maxlength="32000" rows="7"><%= model.Comments %></textarea>
    </div>
</div>

